binary2strings==0.1.9
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colorama==0.4.6
filetype==1.2.0
idna==3.4
pycparser==2.21
PySocks==1.7.1
requests==2.28.2
six==1.16.0
urllib3==1.26.14
virustotal-python==1.0.2
